body{
    margin:0;
    font-family:Segoe UI;
    background:linear-gradient(135deg,#0f172a,#020617);
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.center{
    width:100%;
    display:flex;
    justify-content:center;
}

.card{
    background:#020617;
    padding:35px;
    width:320px;
    border-radius:12px;
    box-shadow:0 0 40px rgba(0,0,0,0.6);
    text-align:center;
}

h2{
    margin:0;
    margin-bottom:5px;
}

.sub{
    color:#94a3b8;
    font-size:13px;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:1px solid #1e293b;
    background:#0f172a;
    color:white;
    font-size:14px;
}

input:focus{
    outline:none;
    border-color:#38bdf8;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    background:#2563eb;
    border:none;
    color:white;
    font-size:15px;
    border-radius:8px;
    cursor:pointer;
    transition:.2s;
}

button:hover{
    background:#1d4ed8;
}

.bottom{
    margin-top:15px;
    font-size:13px;
}

.bottom a{
    color:#38bdf8;
    text-decoration:none;
    font-weight:600;
}

/* login */
body{
    margin:0;
    font-family:Segoe UI;
    background:linear-gradient(135deg,#020617,#0f172a);
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.login-wrapper{
    width:100%;
    display:flex;
    justify-content:center;
}

.login-card{
    background:#020617;
    padding:40px;
    width:340px;
    border-radius:14px;
    box-shadow:0 0 40px rgba(0,0,0,0.6);
}

.login-card h2{
    margin:0;
    font-size:26px;
}

.sub{
    color:#94a3b8;
    font-size:14px;
    margin-bottom:20px;
}

.error{
    background:#7f1d1d;
    padding:8px;
    border-radius:6px;
    margin-bottom:10px;
    font-size:13px;
}

/* INPUT */
.input-group{
    position:relative;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
    border:1px solid #1e293b;
    background:#0f172a;
    color:white;
    font-size:14px;
}

input:focus{
    outline:none;
    border-color:#38bdf8;
}

.toggle{
    position:absolute;
    right:10px;
    top:22px;
    cursor:pointer;
}

/* BUTTON */
.login-btn{
    width:100%;
    padding:12px;
    margin-top:10px;
    background:#2563eb;
    border:none;
    color:white;
    font-size:15px;
    border-radius:8px;
    cursor:pointer;
}

.login-btn:hover{
    background:#1d4ed8;
}

.bottom{
    margin-top:15px;
    text-align:center;
    font-size:13px;
}

.bottom a{
    color:#38bdf8;
    text-decoration:none;
    font-weight:600;
}
