{% extends "base.html" %}
{% block content %}

<div style="padding:30px;max-width:1400px;margin:auto">

  <h1 style="margin-bottom:20px">Learning Hub</h1>

  <!-- ================= SQL ================= -->
  <div class="panel-card" style="margin-bottom:25px">
    <h2>SQL</h2>

    <div class="video-row">
      <div class="video-card">
        <h4>Basics</h4>
        <iframe src="https://www.youtube.com/embed/On9eSN3F8w0?si=4VXA5FCyRo1pSHqN"></iframe>
      </div>
      <div class="video-card">
        <h4>Joins</h4>
        <iframe src="https://www.youtube.com/embed/H6988OpZKTU?si=maQTuQBqFlqn2MTD"></iframe>
      </div>
      <div class="video-card">
        <h4>Subquery</h4>
        <iframe src="https://www.youtube.com/embed/0d419Vo2Po4?si=Hx4sjQSrgwJqRgrI"></iframe>
      </div>
      <div class="video-card">
        <h4>CTE(Common Table Expressions)</h4>
        <iframe src="https://www.youtube.com/embed/0vpzgsIS5Lg?si=75_6yBzoBTwqCzYQ"></iframe>
      </div>
      <div class="video-card">
        <h4>Window Functions</h4>
        <iframe src="https://www.youtube.com/embed/NNpFHQl_GT0?si=qkE7-0tnbY_OWJl0"></iframe>
      </div>
      <div class="video-card">
        <h4>Aggregate Functions</h4>
        <iframe src="https://www.youtube.com/embed/Yr4pHPZCshA?si=25L901cdAwJzMrWE"></iframe>
      </div>
      <div class="video-card">
        <h4>Case Statements</h4>
        <iframe src="https://www.youtube.com/embed/n_0kijUi7IA?si=B0WuzXpmzzvma8rI"></iframe>
      </div>
      <div class="video-card">
        <h4>String Functions</h4>
        <iframe src="https://www.youtube.com/embed/55_UN5gVARs?si=tpQjQlu220Y9rEDN"></iframe>
      </div>
      <div class="video-card">
        <h4>Index and Optimization</h4>
        <iframe src="https://www.youtube.com/embed/E--yzX05_k8?si=Buct1yYnsxUUM0pH"></iframe>
      </div>
    </div>
  </div>

  <!-- ================= PYTHON ================= -->
  <div class="panel-card" style="margin-bottom:25px">
    <h2>Python</h2>

    <div class="video-row">
      <div class="video-card">
        <h4>Pandas</h4>
        <iframe src="https://www.youtube.com/embed/RhEjmHeDNoA?si=KHXcW-GcQYT5fJGi"></iframe>
      </div>
      <div class="video-card">
        <h4>Numpy</h4>
        <iframe src="https://www.youtube.com/embed/uaTigVkG2dk?si=BojAijS3VRaaX9zJ"></iframe>
      </div>
      <div class="video-card">
        <h4>Lambda Functions</h4>
        <iframe src="https://www.youtube.com/embed/ww2uPkwSjjY?si=LZ87-RcTiOVrc0t4" ></iframe>
      </div>
      <div class="video-card">
        <h4>Data Cleaning</h4>
        <iframe src="https://www.youtube.com/embed/bDhvCp3_lYw?si=LBy04foucqYcX6hX" ></iframe>
      </div>
      <div class="video-card">
        <h4>Visualization</h4>
        <iframe src="https://www.youtube.com/embed/JpSMse3eVVg?si=dYC_eQ0LS3Zdiht6" ></iframe>
      </div>
    </div>
  </div>

  <!-- ================= POWER BI ================= -->
  <div class="panel-card" style="margin-bottom:25px">
    <h2>Power BI</h2>

    <div class="video-row">
      <div class="video-card">
        <h4>Basics</h4>
        <iframe src="https://www.youtube.com/embed/6cV3OwFrOkk?si=78qN5WBwLGoMKjGM"></iframe>
      </div>
      <div class="video-card">
        <h4>Power Query</h4>
        <iframe src="https://www.youtube.com/embed/nC-ooxg63ds?si=9PeFQ6GwegwHY_5G" ></iframe>
      </div>
      <div class="video-card">
        <h4>Data Modeling</h4>
        <iframe src="https://www.youtube.com/embed/OB4RzRh-Qoc?si=GVWwHkPa9mtnA7W_"></iframe>
      </div>
      <div class="video-card">
        <h4>Relationships</h4>
        <iframe src="https://www.youtube.com/embed/sW5LoDA1ssM?si=ii8iqYzk18UxSckz"></iframe>
      </div>
      <div class="video-card">
        <h4>DAX Basics</h4>
        <iframe src="https://www.youtube.com/embed/T0geCaVBXXE?si=FZacFwQ8Uqy-KX0C"></iframe>
      </div>
      <div class="video-card">
        <h4>Measures vs Columns</h4>
        <iframe src="https://www.youtube.com/embed/2nMZuWdX9Zw?si=KNcTHbv7mXw6npn4"></iframe>
      </div>
      <div class="video-card">
        <h4>Time Intelligence</h4>
        <iframe src="https://www.youtube.com/embed/C8zo-9YTbP8?si=5cEAg_fWS2w1Ebm9"></iframe>
      </div>
      <div class="video-card">
        <h4>Dashboard Design</h4>
        <iframe src="https://www.youtube.com/embed/fZn83JRt4Nk?si=INsprbUr7Kr2ef5m"></iframe>
      </div>
      <div class="video-card">
        <h4>Performance Tuning</h4>
        <iframe src="https://www.youtube.com/embed/GwTlwgscXRk?si=V8aR-UjGWn40OZU-"></iframe>
      </div>
    </div>
  </div>

  <!-- ================= INTERVIEW ================= -->
  <div class="panel-card" style="margin-bottom:25px">
    <h2>Interview Prep</h2>

    <div class="video-row">
      <div class="video-card">
        <h4>SQL</h4>
        <iframe src="https://www.youtube.com/embed/-WEpWH1NHGU?si=iAKJZYHR2snBYFGf"></iframe>
      </div>
      <div class="video-card">
        <h4>Python</h4>
        <iframe src="https://www.youtube.com/embed/WH_ieAsb4AI?si=JPo_01TCGS7id8vZ"></iframe>
      </div>
      <div class="video-card">
        <h4>PowerBI</h4>
        <iframe src="https://www.youtube.com/embed/sljyU2d2VdU?si=ZqNqSK0oIhdtwqYx"></iframe>
      </div>
    </div>
  </div>
<div class="panel-card" style="margin-bottom:25px">
    <h2>Cloud Computing</h2>

    <div class="video-row">
      <div class="video-card">
        <h4>Cloud Computing Syllabus </h4>
        <iframe src="https://www.youtube.com/embed/dmGybCohHsw?si=Vl0STHEI-VjgB4Vn"></iframe>
      </div>
      <div class="video-card">
        <h4>Future of Cloud </h4>
        <iframe src="https://www.youtube.com/embed/ZpQH79-9vzw?si=jvNdSdq5t8kXQkad"></iframe>
      </div>
      <div class="video-card">
        <h4>Roadmap Cloud Computing</h4>
        <iframe src="https://www.youtube.com/embed/cJ0jQUhI9CI?si=GVi23898e-pwHVgs"></iframe>
      </div>
      <div class="video-card">
        <h4>Introduction to Cloud</h4>
        <iframe src="https://www.youtube.com/embed/3X4JfYf06_g?si=h80IvrHElWR9P9aS"></iframe>
      </div>
    </div>
  </div>

  <!-- ================= PYSPARK ================= -->
  <div class="panel-card" style="margin-bottom:25px">
    <h2>PySpark</h2>

    <a href="/static/files/pyspark_notes.pdf" target="_blank" class="btn">
        Download PySpark Notes
    </a>
  </div>

  <!-- ================= SNOWFLAKE ================= -->
  <div class="panel-card" style="margin-bottom:25px">
    <h2>Snowflake</h2>

    <a href="/static/files/Snowflake_Full_Notes.pdf" class="btn" target="_blank">
      Download Snowflake Notes
    </a>
  </div>

</div>

<style>
.video-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  gap:20px;
}
.video-card iframe{
  width:100%;
  height:200px;
  border-radius:10px;
}
</style>

{% endblock %}