<!DOCTYPE html>
<html>
<head>
<title>Power BI Practice</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="topbar">
    <div class="logo"><a href="/">Practice Platform</a></div>
    <div class="tabs">
        <a href="/sql">SQL</a>
        <a href="/python">Python</a>
        <a href="/powerbi" class="active">Power BI</a>
    </div>
    <div class="auth">
        {% if session.get("user") %}
            <a href="/logout" class="btn">Logout</a>
        {% else %}
            <a href="/login" class="btn">Login</a>
        {% endif %}
    </div>
</div>

<div class="layout">

    <!-- LEFT -->
    <div class="left">
        <h3>Power BI Questions</h3>

        {% for q in questions %}
        <div class="qcard" onclick="loadQ('{{q.id}}', `{{q.question}}`)">
            {{q.question}}
        </div>
        {% endfor %}
    </div>

    <!-- RIGHT -->
    <div class="right">

        <div class="questionBox">
            <h2 id="qtext">Select question</h2>
        </div>

        <button onclick="revealPowerBI()">Reveal Answer</button>

        <div class="answerBox">
            <pre id="answerText"></pre>
        </div>

    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
