<!DOCTYPE html>
<html>
<head>
<title>Practice Platform</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- HEADER -->
<div class="topbar">
    <div class="logo"><a href="/">Practice Platform</a></div>
    <div class="tabs">
        <a href="/sql" class="active">SQL</a>
        <a href="/python">Python</a>
        <a href="/powerbi">Power BI</a>
    </div>
    <div class="auth">
        {% if session.get("user") %}
            <a href="/logout" class="btn">Logout</a>
        {% else %}
            <a href="/login" class="btn">Login</a>
        {% endif %}
    </div>
</div>

<div class="layout">

    <!-- LEFT QUESTIONS -->
    <div class="left">
        <div class="tableBox">
            <h3>Tables</h3>
            <div id="tables"></div>
        </div>
        <!-- QUESTIONS -->
        <div class="questionList">
            <h3>Questions</h3>

            {% for q in questions %}
            <div class="qcard" onclick="loadQ('{{q.id}}', `{{q.question}}`)">
                <div class="qtitle">{{q.question}}</div>
                <div class="qdifficulty {{q.difficulty}}">
                    {{q.difficulty}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="right">

        <!-- QUESTION TEXT -->
        <div class="questionBox">
            <h2 id="qtext">Select a question</h2>
        </div>

        <!-- QUERY EDITOR -->
        <textarea id="query" placeholder="Write SQL query..."></textarea>

        <div class="btns">
            <button onclick="runSQL()">Run</button>
            <button onclick="reveal()">Reveal</button>
        </div>

        <!-- OUTPUT -->
        <div class="outputBox">
            <table id="out"></table>
        </div>

        <!-- ANSWER BOX -->
        <div class="answerBox">
            <h3>Answer</h3>
            <pre id="answerText"></pre>
        </div>

    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
